
.main__nav{

display: flex;
justify-content: center;
margin-top: 5rem;
text-align: center;
box-shadow: 0 0 0.9rem 0.01rem rgba(83, 82, 82, 0.3);



}


.nav__bar{
  display: flex;
}

.tab__InCommon{

  padding: 1em;
  width: 12em; 
}

.nav__Taba {
    position: relative;
    background-color: #3498db; 
    color: #fff; 
  }
  
  .nav__Taba::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -1.4em;
    border-width: 0.8em;
    border-style: solid;
    border-color: transparent transparent transparent #3498db; 
    transform: translateY(-50%);
  }
  